@charset "UTF-8";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
.login-body {
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  opacity: 95%;
}
.login-logo {
  width: 50%;
}
.login-title {
  color: white;
  text-align: center;
  margin-bottom: 20%;
  font-display:
}
.login-form-container {
  height: 100%;
}
.login-form {
  font: 16px/2em Lato, serif;
  height: 100%;
  width: 100%;
}

form[role="login"] {
  color: black;
  background: black;
  padding: 26px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
form[role="login"] img {
  display: block;
  margin: 0 auto;
  margin-bottom: 35px;
}
form[role="login"] input,
form[role="login"] button {
  font-size: 18px;
  margin: 16px 0;
}
form[role="login"] > div {
  text-align: center;
}

.form-links {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 50px;
}
.form-links a {
  color: #fff;
}
