.barname {
  position: fixed;
  left: 120px;
  top: 8px;
}

.chevron {
  position: fixed;
  top: 10px;
  left: 20px;
}

/* BarviewIcons */

.phone {
  position: fixed;
  bottom: 290px;
  left: 5px;
}

.address {
  position: fixed;
  bottom: 250px;
  left: 5px;
}

.age {
  position: fixed;
  bottom: 210px;
  left: 5px;
}

.linesize {
  position: fixed;
  bottom: 160px;
  left: 5px;
}

.price {
  position: fixed;
  bottom: 110px;
  left: 0;
}

.music {
  position: fixed;
  bottom: 60px;
  left: 0;
}

.dresscode {
  position: fixed;
  bottom: 10px;
  left: 5px;
}

.chart {
  position: fixed;
  bottom: 0;
}
