.barname {
  position: fixed;
  left: 120px;
  top: 8px;
}

.chevron {
  position: fixed;
  top: 10px;
  left: 20px;
}

.usersa {
  position: fixed;
  bottom: 310px;
  right: 35px;
  color: blue;
}

.linesize {
  position: fixed;
  bottom: 270px;
  right: 10px;
}

.dollara {
  position: fixed;
  bottom: 50px;
  right: 35px;
  color: blue;
}

.price {
  position: fixed;
  bottom: 0px;
  right: 10px;
}

.secret {
  position: fixed;
  bottom: 190px;
  right: 35px;
  color: blue;
}

.dress-code {
  position: fixed;
  bottom: 160px;
  right: 10px;
}

.smile {
  position: fixed;
  bottom: 120px;
  right: 35px;
  color: blue;
}

.age {
  position: fixed;
  bottom: 80px;
  right: 10px;
}

.musica {
  position: fixed;
  bottom: 250px;
  right: 35px;
  color: blue;
}

.music-type {
  position: fixed;
  bottom: 210px;
  right: 10px;
}

.phone {
  position: fixed;
  left: 50px;
  bottom: 300px;
}

.phone-number {
  position: fixed;
  left: 10px;
  bottom: 260px;
}

.exchange {
  position: fixed;
  left: 50px;
  bottom: 230px;
}

.address {
  position: fixed;
  left: 10px;
  bottom: 190px;
}
