#wrapper {
  display: flex;
  /* use the flex model */

  flex-direction: column;
  /* learn more: http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
}
#header {
  background: yellow;
  height: 100px;
  /* can be variable as well */
}
#body {
  flex: 1;
  border: 1px solid orange;
  height: 100%;
}
#footer {
  background: lime;
}
